<ion-card (click)="viewDetails()">
  <img [src]="product.image" alt="Product Image" />
  
  <ion-card-header>
    <ion-card-title>{{ product.title | slice:0:25 }}...</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p class="price">{{ product.price | currency:'USD' }}</p>
    
    <div class="stars">
      <ion-icon *ngFor="let star of getStars()" name="star"></ion-icon>
    </div>

    <ion-button expand="full" color="primary" (click)="addToCart($event)">
      Agregar al Carrito
    </ion-button>
  </ion-card-content>
</ion-card>
