<ion-header>
  <ion-toolbar>
    <ion-title>Tienda</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCart()">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge *ngIf="cartItemCount > 0" color="danger">{{ cartItemCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Selector de Categoría -->
  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterByCategory(selectedCategory)">
      <ion-select-option value="">Todas</ion-select-option>
      <ion-select-option *ngFor="let category of categories" [value]="category">{{ category }}</ion-select-option>
    </ion-select>
    <ion-label>Ordenar por</ion-label>
    <ion-select [(ngModel)]="selectedSort" (ionChange)="sortProducts(selectedSort)">
      <ion-select-option value="relevance">Relevancia</ion-select-option>
      <ion-select-option value="name-asc">Nombre (A-Z)</ion-select-option>
      <ion-select-option value="name-desc">Nombre (Z-A)</ion-select-option>
      <ion-select-option value="price-high">Precio (Mayor a Menor)</ion-select-option>
      <ion-select-option value="price-low">Precio (Menor a Mayor)</ion-select-option>
    </ion-select>

  </ion-item>


  <!-- Lista de Productos -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let product of products">
        <ion-card class="product-card">
          <img [src]="product.image" alt="product image" class="product-image">
          <ion-card-header>
            <ion-card-title>{{ product.title | slice:0:20 }}...</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Precio:</strong> {{ product.price | currency:'USD' }}</p>
            <ion-button expand="full" color="primary" (click)="goToDetails(product.id)">Ver Detalles</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
