<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/checkout"></ion-back-button>
    </ion-buttons>
    <ion-title>Resumen de la Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen de Compra</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nombre:</strong> {{ customer.name }}</p>
      <p><strong>Email:</strong> {{ customer.email }}</p>
      <p><strong>Dirección:</strong> {{ customer.address }}</p>
    </ion-card-content>
  </ion-card>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Productos Comprados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of cart">
          <ion-label>
            <h2>{{ item.title }}</h2>
            <p>Cantidad: {{ item.quantity }} - Precio: {{ formatCurrency(item.price) }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total de la Compra</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{ formatCurrency(total) }}</h2>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="danger" (click)="finalizarCompra()" >Finalizar Compra</ion-button>
</ion-content>
